@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: #f1f0ec;
    --bg-variant: #eeede7;
    --font-color: #111111;
    --btn-color: #aaa276;
    --btn-variant: #393836;
    --title-color: #dfddd2;
    --border-color: #111111;
    --darkmode-hover-bg: #393836;
    --darkmode-hover: #dfddd2;
}
.darkmode{
    --bg-color: #222221;
    --bg-variant: #1b1b1b;
    --font-color: #ffffff;
    --btn-variant: #cecdca;
    --btn-color: #aaa276;
    --title-color: #5a5a5a;
    --border-color: #dbd8d8;
    --darkmode-hover-bg: #cecdca;
    --darkmode-hover: #5a5a5a;
}

html{
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}

body{
    color: var(--font-color);
    background-color: var(--bg-color);
    height: 100vh;
}
#main-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6.25rem;
}
#main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}
/* Conteúdo Principal, HOME */
.title-container{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20%;
    margin-top: 1.25rem;
    margin-bottom: 12.5rem;
}
.title-divider{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    gap: 1.25rem;
    padding: 1.875rem;
    border-radius: 1.25rem;
}
/* Texto The */
.text2{
    display: flex;
    justify-content: end;
    align-items: center;
    vertical-align: auto;
}
/* Texto Future */
.text3{
    display: flex;
    margin-left: 3.125rem;
}

/* About me */
.about-me{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 6.25rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 500px;
    margin-top: 200px;
}
.section-container{
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    background-color: var(--title-color);
    border-radius: 1.25rem;
    padding: .625rem;
    padding-top: .625rem;
}
.section-title-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.title-text-general-settings{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10%;
}
.text-container{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: .625rem;
    padding-top: 2.625rem;
    padding-bottom: 10rem;
    font-size: 20px;
}
.text-about-me{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* Portfolio */
.portfolio{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}
.workdone{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.my-portfolio{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 60%;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 300px;
}



